.title{
    color : hsl(300, 43%, 22%);
    
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  .subtitle{
    color : hsl(300, 43%, 22%);
    font-weight: 400;
}
.bkgrd{
    background: url(images/bg-pattern-bottom-desktop.svg);
}